<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
		<add key="nuget-hosted" value="https://nexus.excellus.com/repository/nuget-hosted/index.json" />
		<add key="NuGet Official" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>